/* Основной стиль для футера */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Inter, 'Medium,Bold', sans-serif;
  background: linear-gradient(135deg, rgba(255, 140, 0, 0.134),rgba(251, 0, 255, 0.192) );
  color: #333;
  min-height: 100vh;
  position: relative;
}

/* Основной стиль для хедера */
.header {
    background-color: #151019;
    padding: 30px 0;
    color: #fff;

}

/* Контейнер для всего хедера */
.container {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    column-gap: 20px;
    grid-template-areas: 
    "main main main"
    
}

.price-container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    animation: slideUp 1.2s ease-in-out;


}

/* Логотип */
.logo img {
    height: 100px;
}

/* Навигация */
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding-left: 20px;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Переключатели языка */
.language-switcher {
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    padding-bottom: 10px;
}

.language-switcher a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
}

/* Кнопка */
.cta-btn {
    padding-bottom: 40px;
}

/* Кнопка */
.cta-btn a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #8c2c8e;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 5px;
}

.cta-btn a:hover {
    background-color: #FF6E30;
}
.main-title {
  animation: fadeIn 0.8s ease-in-out;
  padding: 50px 20px;
  font-size: 35px;
  color: #8C2C8E;
  text-align: center;
  position: relative;
}
.main-title::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 4px;
  background: linear-gradient(to right, #8C2C8E, #FF6E30);
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}
.price-description {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;

}

.price-description h1{
  font-size: 23px;
}
.price-description p{
  padding:30px 0;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  color: #3c3c3c;
}

.price-container h2{
  padding: 30px 0;
  width: 40%;
  color: #333;
}
.price-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background: linear-gradient(rgba(255, 255, 255, 0.064), rgb(255, 255, 255), rgba(255, 255, 255, 0.212));

}


.price-table td {
    padding: 15px;
    border-bottom: 2px solid #8C2C8E;
    border-top: 2px solid #8C2C8E;
    font-size: 16px;
    word-wrap: break-word;
}

.price-table td:last-child {
    color: #8C2C8E;
    text-align: left;
}
.price-table td:first-child {
    text-align: left;
}
.price-table td:nth-child(1), .price-table th:nth-child(1) {
    width: 80%;
}

.call-block{
  display: flex;
  align-items: center;
  padding-inline:  20px;
  margin: 50px 0;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
  color: #8C2C8E;

}
.call-wind{
  display: flex;
  padding: 40px 30px;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.359);
}
.call-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 30px;
  background-color: #FF6E30;
  color: white;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 60px;
  border: none; /* Убираем стандартную обводку у кнопки */
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.359);
 
}

.call-form:hover {
  background-color: #8C2C8E;
}

.price-table a {
    text-decoration: none;
    color: #8C2C8E;
    font-size: 16px;
}
.footer {
    background-color: #151019;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 100%; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
  }
  
  /* Стиль для верхней части футера */
  .footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
  }
  
  .foot-call-form {
    display: flex;
    gap: 20px;
  }
  
  .foot-call-form input {
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }
  .foot-call-form button {
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #8C2C8E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    border: none; /* Убираем стандартную обводку у кнопки */
    cursor: pointer;
    
  }
  
  .foot-call-form button:hover {
    background-color: #FF6E30;
  }
  
  .footer-top p {
    font-size: 18px;
    color: #ffffff;
  }
  
  
  
  .footer-conf {
    display: grid;
    place-items: center;
    padding: 40px;
  }
  
  .footer-conf a {
  background-color: none;
  color: #8C2C8E;
  text-decoration: none;
  }
  
  .footer-line {
  border: solid 1px #5D5564;
  margin-bottom: 40px;
  }
  
  /* Стиль для нижней части футера */
  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
    gap: 30px;
  
  }
  
  
  .footer-bottom p, li{
    margin-bottom: 10px;
    
  }
  
  .footer-title {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: start ;
    gap: 30px;
  
  }
  
  .footer-title p:not(.phone) {
    letter-spacing: 3px; /* Увеличиваем интервал между буквами */
  }
  
  .footer-title .phone {
    font-size: 30px;
    color: white;
  }
  
  .footer-title p {
    font-size: 16px; /* Размер текста по умолчанию для всех p */
    color: #868588;    /* Серый цвет для всех p */
  }
  
  .info{
    font-size: 13px;
    padding-bottom: 5px;
    color: #868588;
  }
  .footer-services ul {
    padding-top: 10px;
  }
  
  .presentation {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .footer-bottom .presentation a {
    color: white;
    font-size: 15px;
  }
  
  .footer-bottom .presentation img {
    width: 100px;
    height: auto;
  }
  .social-circle {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .social-circle img{
    width: 55px;
    height: auto;
  }
  
  .social-circle img.overlay{
    position: absolute; /* Абсолютное позиционирование для второго изображения */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
  
  .footer-important a {
    margin-bottom: 10px;
    padding-top: 10px;
    color: #8C2C8E;
    text-decoration: none;
    
  }
  
  .footer-contact a {
    text-decoration: none;
    outline: none;
    color: white;
  }
  
  .footer-bottom .footer-contact .number  {
    color: #8C2C8E;
  } 
  
  .footer-services ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  .footer-important .social-media {
    display: flex;
    gap: 10px;
  }
  
  .footer-important .social-media a {
    color: #8C2C8E;
    text-decoration: none;
  }
  
  .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 50px;
    color: #868588;
  }
  .bottom-footer a {
    color: #868588;
    text-decoration: none;
  }
  
  .footer-size {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
  }
      /* Стили для полосы прокрутки */
      ::-webkit-scrollbar {
        width: 12px; /* Ширина вертикальной полосы прокрутки */
        height: 12px;
      }
  
      /* Стили для фона полосы прокрутки */
      ::-webkit-scrollbar-track {
        background: #ffffff; /* Светлый фон полосы прокрутки */
      }
  
      /* Стили для самого ползунка */
      ::-webkit-scrollbar-thumb {
        background: #a8a8a8; /* Темно-серый цвет ползунка */
        border-radius: 15px; /* Округленные углы ползунка */
        transition: background-color 0.3s ease; /* Плавное изменение цвета */
      }
  
      /* Стили для ползунка при наведении */
      ::-webkit-scrollbar-thumb:hover{
        background: #555; /* Темно-серый цвет при наведении */
      }
      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @keyframes slideUp {
        0% { opacity: 0; transform: translateY(20px); }
        100% { opacity: 1; transform: translateY(0); }
      }