* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth
}

/* Основной стиль для хедера */
.header {
  background-color: #151019;
  padding: 30px 0;
  color: #fff;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
header {
  background-image: url(../img/earth.svg);
  background-repeat: no-repeat;
  background-position: 1220px 80px;
 }

main {
  background-color: #151019;
  color: white;
  height: 776px;
  background-image: url(../img/earth.svg);
  background-repeat: no-repeat;
  background-position: 1220px -97px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Контейнер для всего хедера */
.container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  column-gap: 20px;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer"
}
.serv-container{
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  column-gap: 20px;
  grid-template-areas:
  "main main"
}
/* Логотип */
.logo img {
    height: 100px; /* Устанавливаем фиксированную высоту для логотипа */
}

/* Навигация */
.nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding-left: 20px;
}

.nav li {
    display: inline;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Переключатели языка */
.language-switcher {
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 8px; /* Расстояние между переключателем языка и кнопкой */
    justify-content: center; /* Центрируем по вертикали */
    padding-block-end: 10px;

}

.language-switcher a {
    text-decoration: none;
    color: #fff;
    margin: 0 5px;
    
}
.cta-btn {

    padding-block-end: 40px;
}
/* Кнопка */
.cta-btn a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #8c2c8e;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 5px; /* Немного отступа от переключателя языка */
}


.cta-btn a:hover {
    background-color: #FF6E30;
}
.face-container{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
}

/* main part */
.line {
  display: flex;
  border: solid 1px #8C2C8E;
  width: 80%;
  margin: 45px 0;
  justify-content: left;

}

.face {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;

}
.face h1{
  font-size: 96px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.face h2{
  font-size: 20px;
}

.face-btns{
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
}

.face-btns .leftbtn {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #FF6E30;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 230px;
  height: 60px;
  border-radius: 50px;
}
.face-btns .rightbtn {
  padding: 15px 30px; /* Увеличиваем отступы для красивой кнопки */
  font-size: 18px;
  border-radius: 25px; /* Округлые углы */
  border: 2px solid #fff; /* Белая обводка */
  background-color: transparent; /* Прозрачный фон */
  color: #fff; /* Белый цвет текста */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Плавный переход при наведении */
  width: 230px;
  height: 60px;
  border-radius: 50px;
}
.face-btns .leftbtn:hover {
  background-color: #8C2C8E; /* Цвет фона при наведении */
}

/* Эффект при наведении на правую кнопку */
.face-btns .rightbtn:hover {
  background-color: #8C2C8E; /* Цвет фона при наведении */
  color: white;
}

.face-description{
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.face-description h2{
  font-size: 45px;
}


/* services part */
.services {
    background-color: #f9f9f9;
    padding: 30px 0;
}

/* Заголовок секции */
.services h1 {
    font-size: 32px;
    color: #1a1a1a;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: left;
}

.services p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;

}

/* Контейнер с категориями услуг */
.serv-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}


/* Стили для кнопки */
.service-btn {
  display: flex;
  background-color: #f9f9f9; /* Цвет фона */
  padding: 20px;
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
  max-width: 1000px;
  margin: 20px auto;
  transition: transform 0.3s ease; /* Плавная анимация */
}
.service-btn:hover {
  border-color: #8C2C8E;
  transform: translateY(-10px);
}
.doc {
  flex-shrink: 0; /* Чтобы изображение не сжималось */
  margin-right: 20px; /* Отступ между картинкой и текстом */
}
.doc img {
  width: 80px; /* Устанавливаем размер изображения */
  height: auto; /* Сохраняем пропорции изображения */
}
.service-descrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-descrip h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.service-descrip p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.service-descrip ul {
  list-style-type: none;
  padding-left: 0;
}

.service-descrip ul li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}
.service-btn h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.service-btn p {
  margin: 5px 0 0 0;
  font-size: 14px;
  color: #555;
}

.service-btn .btn-doc {
  width: 80px;
  height: auto;
}
.call-block{
  display: flex;
  padding:  50px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-size: 20px;
}
.call-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border-radius: 50px;
  background-color: #FF6E30;
  color: white;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 70px;
  border: none; /* Убираем стандартную обводку у кнопки */
  cursor: pointer;
 
}
.call-form:hover {
  background-color: #8C2C8E;
}
.tezis-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  column-gap: 20px;
  grid-template-areas:
  "main main main"
  "main main main"
  
}
.tezis-btn {
  background-color: #f9f9f9; /* Цвет фона */
  padding: 20px;
  border-radius: 8px; /* Скругленные углы */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для блока */
  max-width: 1000px;
  margin: 20px auto;
  transition: transform 0.3s ease; /* Плавная анимация */
}
.tezis-btn .doc img {
  max-width: 60px;
  margin-bottom: 20px;
}

.tezis-btn h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.tezis-btn p {
  font-size: 14px;
  color: #555;
  flex-grow: 1; /* Чтобы текст не выходил за пределы блока */
}

/* Стили для кнопки */
.tezis-btn:hover {
  transform: translateY(-5px); /* Эффект поднятия при наведении */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Увеличение тени */
  transition: all 0.3s ease;
}
.service-detail {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
    width: 100%;
}

.service-detail:hover {
    transform: translateY(-10px);
}

.service-detail h3 {
    font-size: 24px;
    color: #9b6cf1;
    margin-bottom: 15px;
    font-weight: bold;
}

.service-detail p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.service-detail ul {
    list-style-type: disc;
    padding-left: 30px;
}

.service-detail ul li {
    font-size: 16px;
    color: #555;
}



.violet{
  color: #8c2c8e;
}

.about-company {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 120px;
    padding-top: 200px;
}
.description-video button {
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #FF6E30;
  color: white;
  transition: background-color 0.3s ease;
  width: 250px;
  height: 60px;
  border: none; /* Убираем стандартную обводку у кнопки */
  cursor: pointer;
 
}
.description {
  width: 80%;
  height: auto;
  font-size: 17px;
}
.description h2{
  font-size: 40px;
  margin-left: 10px;
  padding-bottom: 20px;
}
.description-video button:hover {
  background-color: #8C2C8E;
}
.video-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: right;
}
.video-container iframe {
  width: 80%;  /* Устанавливает ширину на 100% от родительского контейнера */
  height: 600px; /* Устанавливает высоту видео */

}


.achiev-container {
  display: grid;
  max-width: 1500px;
  margin: 0 auto;
  align-items: center;
  grid-template-areas: 
  "main main main main";
  grid-gap: 30px; 
  align-items: start;
}
.we {
  padding: 50px;
}
.block {
  background-color: #8C2C8E;
  color: white; /* Белый текст */
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;
  padding: 20px;
  height: 180px;
  justify-content: space-between; /* Расстояние между элементами */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для блока */
  transition: 0.3s ease; /* Плавные переходы при наведении */

  background-color: #8C2C8E; /* Пурпурный фон */
  background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь блок */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повторение изображения */
  background: linear-gradient(to top, rgba(140, 44, 142, 0.9),rgba(0, 0, 0, 0.6)), 
  url('../img/blockstheme.png');
  background-size: contain; /* Масштабируем изображение */
  background-position: center; /* Центрируем изображение */
}


.block:hover {
  transform: translateY(-10px); /* Эффект при наведении */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}
.block h2 {
  padding-bottom: 15px;
  font-size: 1.5em;
  margin: 0;
}

.block p {
  font-size: 1em;
  margin: 0;
}
.team-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  grid-template-areas: 
  "main main main main main";
  grid-gap: 30px; 
  align-items: start;
  
}
.team-title {
  padding-top: 50px;
}
.team {
  padding: 60px;
  margin-bottom: 40px;
}
.team-member {
  text-align: center;  /* Центрирует текст внутри контейнера */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
}

.team-member img {
  width: 100px;
  height: auto;
  margin-bottom: 15px; /* Расстояние между изображением и текстом */
}

.team-member h3{
  color: #8C2C8E;
  margin: 0;
}
.team-member p{
  padding-top: 5px;
  color: #7e7e7e;
  font-size: 12px;

}

.partners-backg {
  width: 100%;
  height: 300px;
  background-color: #8C2C8E;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 35px;

}

.logos {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.feedback-name {
  text-align: center;
  padding: 30px;
}
.feedback-container {
  width: 100%;
  padding-bottom: 30px;
}

.feedback {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%; /* Чтобы блоки занимали меньше ширины */
  margin: 0 auto; /* Центрируем блок */
  height: auto; /* Позволяет блоку подстраиваться по контенту */
  border: solid 1px #1f1f1f;
  padding: 40px;
  background-color: #fff;
  gap: 25px;
}


.feedb-logo {
  width: 150px;
  height: 150px;
  border: 1px solid #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Отступ между изображением и текстом */
}
.feedb-header{
  display: flex;

}
.feedb-logo img {
  max-width: 90%;
  height: auto;
}


.feedback-text h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #8C2C8E;
}

.feedback-text .name {
  font-size: 18px;
  color: #000000;
  margin: 5px 0;
}

.feedback-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding-bottom: 20px;
}


.footer {
    background-color: #1a1a1a;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 30px;
    max-width: 100%; /* Ограничиваем ширину контейнера */
    margin: 0 auto; /* Центрируем контейнер */
  }
  
  /* Стиль для верхней части футера */
  .footer-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
  }
  
  .foot-call-form {
    display: flex;
    gap: 20px;
  }
  
  .foot-call-form input {
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
  }
  .foot-call-form button {
    padding: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #8C2C8E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    border: none; /* Убираем стандартную обводку у кнопки */
    cursor: pointer;
    
  }

  .foot-call-form button:hover {
    background-color: #FF6E30;
}

  .footer-top p {
    font-size: 18px;
    color: #ffffff;
  }


  
 .footer-conf {
    display: grid;
    place-items: center;
    padding: 40px;
 }

 .footer-conf a {
  background-color: none;
  color: #8C2C8E;
  text-decoration: none;
 }

 .footer-line {
  border: solid 1px #5D5564;
  margin-bottom: 40px;
 }

  /* Стиль для нижней части футера */
  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
    gap: 30px;

  }


  .footer-bottom p, li{
    margin-bottom: 10px;
    
  }

  .footer-title {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: start ;
    gap: 30px;

  }

  .footer-title p:not(.phone) {
    letter-spacing: 3px; /* Увеличиваем интервал между буквами */
  }

  .footer-title .phone {
    font-size: 30px;
    color: white;
  }

  .footer-title p {
    font-size: 16px; /* Размер текста по умолчанию для всех p */
    color: #868588;    /* Серый цвет для всех p */
  }
  
  .info{
    font-size: 13px;
    padding-bottom: 5px;
    color: #868588;
  }
  .footer-services ul {
    padding-top: 10px;
  }

  .presentation {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .footer-bottom .presentation a {
    color: white;
    font-size: 15px;
  }

 .footer-bottom .presentation img {
    width: 100px;
    height: auto;
  }
  .social-circle {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
  .social-circle img{
    width: 55px;
    height: auto;
  }

  .social-circle img.overlay{
    position: absolute; /* Абсолютное позиционирование для второго изображения */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }

  .footer-important a {
    margin-bottom: 10px;
    padding-top: 10px;
    color: #8C2C8E;
    text-decoration: none;
    
  }
  
 .footer-contact a {
    text-decoration: none;
    outline: none;
    color: white;
 }

 .footer-bottom .footer-contact .number  {
    color: #8C2C8E;
 } 

  .footer-services ul {
    list-style: none;
    padding-left: 0;
  }
  

  .footer-important .social-media {
    display: flex;
    gap: 10px;
  }
  
  .footer-important .social-media a {
    color: #8C2C8E;
    text-decoration: none;
  }
  
  .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 50px;
    color: #868588;
  }
  .bottom-footer a {
    color: #868588;
    text-decoration: none;
  }

  .footer-size {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
  }
     /* Стили для полосы прокрутки */
     ::-webkit-scrollbar {
      width: 12px; /* Ширина вертикальной полосы прокрутки */
      height: 12px;
    }

    /* Стили для фона полосы прокрутки */
    ::-webkit-scrollbar-track {
      background: #ffffff; /* Светлый фон полосы прокрутки */
    }

    /* Стили для самого ползунка */
    ::-webkit-scrollbar-thumb {
      background: #a8a8a8; /* Темно-серый цвет ползунка */
      border-radius: 15px; /* Округленные углы ползунка */
      transition: background-color 0.3s ease; /* Плавное изменение цвета */
    }

    /* Стили для ползунка при наведении */
    ::-webkit-scrollbar-thumb:hover{
      background: #555; /* Темно-серый цвет при наведении */
    }